
*, :before, :after {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    background: #E3F2FD;
    min-width: 275px;
    height: 100vh;
    margin: 0 10vw;
    overflow: hidden;
    color: #138FF2;
    font-family: Roboto;
  }
  
  .no-page {
    flex-grow: 2;
    width: 40vw;
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 100;
  }
  
  p {
    width: 95%;
    font-size: 1.5em;
    line-height: 1.4;
  }
  
  /* .buttons {
    2 свойства стояли здесь
  } */

.no-page__link {
    display: inline-block;
    padding: .8em 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 3px solid #B9DDFB;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    position: relative;
    overflow: hidden;
    transition: .3s;
    /* если что то убрать следующие 2 свойтсва */
    white-space: nowrap;
    display: inline-block;
    &:hover {
      color: #E3F2FD;
      &:before {
        top: 0;
      }
    }
    &:before {
      content: '';
      background: #138FF2;
      height: 100%;
      width: 100%;
      position: absolute;
      top: -100%;
      left: 0;
      transition: .3s;
      z-index: -1;
    }
  }
